<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://r.hswstatic.com/w_907/gif/killer-robot.jpg" alt="Killer Robots" />
  </body>
</html>
